*{margin: 0px;
font-family: century gothic;
color: white;
overflow-y: hidden;
}
body{
    background-image: url("../img/Fondo1.jpg");
    background-size: cover;
}
.titulos{
    margin-left: 10%;
    h2{
        margin-top: 30%; 
        font-size: 40px;   
    }

    p{
        margin-top: 5%;
        text-align: justify;
    }

    button{
        margin-top: 5%;
        padding-top: 4%;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 4%;
        font-size: 20px;
        font-weight: bold;
        background:none;
        border-style: solid;
        border-color: white;
        border-radius: 5px;
        border-width: 1px;
    }

    display: block;
    width: 40%;
    height: 1000;
}
.piepag{
    background-color: hsla(0, 0%, 0%, 0.5);
    padding: 3%;
    margin-top: 10%;
    text-align: center;

}
button:hover{
    background-color: rgb(100, 165, 3);
    border-color: rgb(100, 165, 3);

}
@media(max-width :950px) {
    body{
        background-image: url("../img/Fondo\ 1.0.jpg");
        .titulos{
            display: inline-block;
            width: 80%;
            h2{
                font-size: 25px;
                
            }
            p{
                margin-top: 10%;
                font-size: 15px;
                margin-bottom: 30%;
            }
        }
        .piepag{
           margin-top: 50%;
        }
    }
}